appnope==0.1.0
backcall==0.1.0
decorator==4.3.0
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
progressbar==2.5
progressbar2==3.38.0
prompt-toolkit==1.0.15
prufer==0.1
ptyprocess==0.6.0
Pygments==2.2.0
python-dateutil==2.7.3
python-utils==2.3.0
scapy==2.4.0
selenium==3.141.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.26.5
virtualenv==16.1.0
wcwidth==0.1.7
